{% extends 'base.html' %}

{% block title %}Уровни{% endblock %}

{% block content %}
        <div class="levels container mt-5 p-2">
            <a class="levels__link col-2 btn btn-primary" href="{% url 'levels:level' 1 %}score">1 Уровень</a>
            <a class="levels__link col-2 btn btn-secondary" href="{% url 'levels:level' 2 %}score">2 Уровень</a>
            <a class="levels__link col-2 btn btn-success" href="{% url 'levels:level' 3 %}score">3 Уровень</a>
            <a class="levels__link col-2 btn btn-danger" href="{% url 'levels:level' 4 %}score">4 Уровень</a>
            <a class="levels__link col-2 btn btn-warning" href="{% url 'levels:level' 5 %}score">5 Уровень</a>
        </div>
{% endblock %}