{% extends 'base.html' %}

{% block title %}{{level_id}} Уровень{% endblock %}

{% block content %}
    {% if leaderboard %}
    <div class="leaderboard container mt-5">
        <div class="row leaderboard__sort">
            <a class="leaderboard__sort-button col btn btn-dark m-2 d-print-none" href="/levels">Назад</a>
            <a class="leaderboard__sort-button col btn btn-dark m-2 d-print-none" href="{% url 'levels:level' level_id %}score">Сортировать по очкам</a>
            <a class="leaderboard__sort-button col btn btn-dark m-2 d-print-none" href="{% url 'levels:level' level_id %}coins">Сортировать по монетам</a>
            <a class="leaderboard__sort-button col btn btn-dark m-2 d-print-none" href="{% url 'levels:level' level_id %}time">Сортировать по времени</a>
            <a class="leaderboard__sort-button col btn btn-dark m-2 d-print-none" href="{% url 'levels:level' level_id %}date">Сортировать по дате</a>
        </div>
        <table class="table table-striped container leaderboard__table">
            <thead>
                <tr class="leaderboard__header">
                    <th class="leaderboard__header-text" scope="col">Nickname</th>
                    <th class="leaderboard__header-text" scope="col">Score</th>
                    <th class="leaderboard__header-text" scope="col">Coins</th>
                    <th class="leaderboard__header-text" scope="col">Time</th>
                    <th class="leaderboard__header-text" scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
        {% for i in leaderboard %}
                <tr class="leaderboard__row">
                    <th class="leaderboard__row-text" scope="row"><a href="/users/">{{i}}</a></th>
                    <td class="leaderboard__row-text">{{i.score}}</td>
                    <td class="leaderboard__row-text">{{i.coins}}</td>
                    <td class="leaderboard__row-text">{{i.time}}</td>
                    <td class="leaderboard__row-text">{{i.date}}</td>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        Нет результатов
    {% endif %}
{% endblock %}